{% extends 'base.html' %}

{% block body %}

    <form method="POST" action="{% url 'save_event' %}">
        {% csrf_token %}
        <div class="form-row">
{#            {{ ef.as_ul }}#}
            {% for field in ef %}
                <div class="form-group col-md-2">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Забронировать</button>
    </form>
{% endblock %}