// ИНФОРМАЦИОННЫЙ БЛОК
    
.footer_section-navigation_block
    height: 125px
    padding: 15px 0
    background-color: $blue_color

    .information_block-image
        margin-right: 20px

    .navigation_elements
        display: flex

        .nav-item a
            padding: 5px 0

        .vertical-line
            margin: 7.5px 25px
            border-left: 1px solid $light-gray_color-1
            opacity: 0.15
    
    .information_block-link
        color: $light-gray_color-2

// НАВИГАЦИОННЫЙ БЛОК

.footer_section-information_block
    height: 85px
    padding: 25px 0
    background-color: $dark-blue_color

    .information_block-text
        p
            margin-bottom: 0

    .information_block-link
        color: $light-gray_color-2

        p
            margin-bottom: 0
            cursor: pointer
            

    .information_block-social_media
        margin-top: 5px
        
        a
            margin-left: 15px