.news-vertical_card
    height: 475px

    margin: 0 15px
    padding: 0

    // background-color: $gray_color

.actual_news
    cursor: pointer

    &-header
        margin: 25px 0 5px
    
    &-img
        width: 360px

    &-date_and_views
        display: flex
        
        .publication_date, .number_of_views
            color: $dark_gray-color
            display: flex

            .publication_date-img, .number_of_views-img
                margin-right: 10px

        .publication_date
            margin-right: 15px

    &-hashtags
        color: $blue-color
        margin: 5px 0 25px
        
        span
            margin-right: 10px

    &-all_news_link
        margin-top: 75px
        text-align: center