{% extends 'base.html' %}

{% block title %}
    Логин
{% endblock %}

{% block body %}
    <h2>Вход</h2>
    {% if user.is_autheticated %}
        <p>Вы уже авторизованы</p>
    {% else %}
        <div class="content-section">
            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="form-group">
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" value="Войти">
                    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}