{% extends 'panel/panel_base.html' %}
{% load static %}

{% block title %}
    Список броней
{% endblock %}

{% block mainblock %}
    <div id="page-content">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li class="active">
                    <a href="{% url 'event_list' %}"><i class="gi gi-shop_window"></i>Мероприятия</a>
                </li>
                <li>
                    <a href="{% url 'panel_event_post' %}"><i class="gi gi-shopping_cart"></i>Информация о
                        мероприятии</a>
                </li>

                <li>
                    <a href="{% url 'orderer_view' %}"><i class="gi gi-user"></i>Информация о заказчике</a>
                </li>
                <li>
                    <a href="#"> <i class="gi gi-user"></i>Список участников</a>
                </li>
            </ul>
        </div>
        <div class="block full">
            <!-- All Orders Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip"
                       title="Settings"><i class="fa fa-cog"></i></a>
                </div>
                <h2><strong>Все</strong> бронирования</h2>
            </div>
            <!-- END All Orders Title -->
            <div id="page-content">

                <div class="row row-cols-1 row-cols-md-3">

                    {% if events %}
                        {% for event in events %}
                            <div class="col mb-4">
                                <div class="card">
                                    <img id='myimg' src="{{ event.image.url }}" class="card-img-top"
                                         alt="{{ event.image.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.name }} |
                                            {% if event.status %}
                                                <span class="label label-primary">Опубликован</span>
                                            {% else %}
                                                <span class="label label-danger">Не опубликован</span>

                                            {% endif %}
                                        </h5>
                                        <p class="card-text">{{ event.description|truncatechars:100 }}</p>

                                        <a href="{% url 'panel_event_view_detail' pk=event.pk %}"
                                           class="btn btn-default btn-sm">Перейти</a>

                                        <a href="{% url 'member_list_view' pk=event.pk %}"
                                           class="btn btn-default btn-sm"> Список участников</a>

                                        <div class="card-footer">
                                            <small class="text-muted">Создано {{ event.create_date }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footerblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.21/cr-1.5.2/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.21/cr-1.5.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ecom-orders').DataTable({}
            );
        });
        {#$.extend($.fn.dataTable.defaults, {#}
        {#    searching: true,#}
        {#    paging: false,#}
        {#    showing: false,#}
        {#    lengthChange: false,#}
        {#    "info": false#}
        {# });#}

    </script>
{% endblock %}