{% extends 'panel/panel_base.html' %}
{% load static %}

{% block title %}
    Список броней
{% endblock %}

{% block mainblock %}
    <div id="page-content">


        <div class="block full">
            <!-- All Orders Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip"
                       title="Settings"><i class="fa fa-cog"></i></a>
                </div>
                <h2><strong>Все</strong> бронирования</h2>
            </div>
            <!-- END All Orders Title -->
            <div id="page-content">

                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col-4 news-vertical_card slick-slide slick-active" data-slick-index="3"
                         aria-hidden="false" style="width: 350px;" tabindex="0">
                        <img class="actual_news-img" src="images/src/4.png">
                        <h3 class="actual_news-header">Наимнование статьи</h3>
                        <div class="actual_news-date_and_views">
                            <div class="publication_date">
                                <img class="publication_date-img" src="images/src/calendar.svg">
                                <span class="publication_date-text T-300-16">01 января 1990</span>
                            </div>
                            <div class="number_of_views">
                                <img class="number_of_views-img" src="images/src/eye.svg">
                                <span class="number_of_views-text T-300-16">999 просмотров</span>
                            </div>
                        </div>
                        <div class="actual_news-hashtags">
                            <span>#SevSU</span>
                            <span>#МореВозможностей</span>
                        </div>
                        <span class="actual_news-text T-300-16">
						Небольшое и емкое описание, либо вырезка из статьи, которое может занимать до 3-4 строк.
					</span>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{% static 'inx960x640.webp' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block footerblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.21/cr-1.5.2/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.21/cr-1.5.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ecom-orders').DataTable({}
            );
        });
        {#$.extend($.fn.dataTable.defaults, {#}
        {#    searching: true,#}
        {#    paging: false,#}
        {#    showing: false,#}
        {#    lengthChange: false,#}
        {#    "info": false#}
        {# });#}

    </script>
{% endblock %}