{% load static %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block title %}Главная{% endblock %}</title>

    <meta name="description"
          content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'back/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'back/img/icon180.png' %}" sizes="180x180">
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="{% static 'back/css/bootstrap.min.css' %}">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="{% static 'back/css/plugins.css' %}">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="{% static 'back/css/main.css' %}">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="{% static 'back/css/themes.css' %}">
    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) -->
    <script src="{% static 'back/js/vendor/modernizr.min.js' %}"></script>
</head>
<body>
<!-- Page Wrapper -->
<!-- In the PHP version you can set the following options from inc/config file -->
<!--
    Available classes:

    'page-loading'      enables page preloader
-->
<div id="page-wrapper">
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>СОЛ</strong>Горизонт</h1>
        <div class="inner">
            <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie10"></div>
        </div>
    </div>
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Brand -->
                    <a href="{% url 'main' %}" class="sidebar-brand">
                        <i class="gi gi-flash"></i><span
                            class="sidebar-nav-mini-hide">СОЛ <strong>Горизонт</strong></span>
                    </a>
                    <!-- END Brand -->

                    <!-- User Info -->
                    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                        <div class="sidebar-user-avatar">
                            <a href="page_ready_user_profile.html">
                                <img src="{% static 'back/img/placeholders/avatars/avatar2.jpg' %}" alt="avatar">
                            </a>
                        </div>
                        <div class="sidebar-user-name">Какой-то юзер</div>
                        <div class="sidebar-user-links">
                            <a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom"
                               title="Profile"><i class="gi gi-user"></i></a>
                            <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom"
                               title="Messages"><i class="gi gi-envelope"></i></a>
                            <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                            <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Settings"
                               onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-cogwheel"></i></a>
                            <a href="login.html" data-toggle="tooltip" data-placement="bottom" title="Logout"><i
                                    class="gi gi-exit"></i></a>
                        </div>
                    </div>
                    <!-- END User Info -->

                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">

                        <li class="sidebar-header">
                            <span class="sidebar-header-title">Бронирование</span>
                        </li>
                        <li>
                            <a href="{% url 'book_list' %}"><i class="hi hi-list sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Все брони</span></a>
                        </li>
                        <li>
                            <a href="{% url 'book_create' %}"><i class="hi hi-check sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Забронировать номер</span></a>
                        </li>
                        <li class="sidebar-header">
                            <span class="sidebar-header-title">Мероприятие</span>
                        </li>
                        <li>
                            <a href="{% url 'event_list' %}"><i class="hi hi-list sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Все мероприятия</span></a>
                        </li>
                        <!-- END Sidebar Navigation -->
                    </ul>
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">

            <header class="navbar navbar-default">
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                    </li>
                </ul>
                <form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                    <div class="form-group">
                        <input type="text" id="top-search" name="top-search" class="form-control"
                               placeholder="Search..">
                    </div>
                </form>
            </header>
            <div id="page-content">

                {% block mainblock %}

                {% endblock %}

            </div>
            <!-- END Page Content -->

            <!-- Footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://vk.com/elvladosios"
                                                                               target="_blank">MyTeam</a>
                </div>
                <div class="pull-left">
                    <span id="year-copy"></span> &copy; VA
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Main Container -->
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
<script src="{% static 'back/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'back/js/plugins.js' %}"></script>
<script src="{% static 'back/js/app.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!-- Google Maps API Key (you will have to obtain a Google Maps API key to use Google Maps) -->
<!-- For more info please have a look at https://developers.google.com/maps/documentation/javascript/get-api-key#key -->
<script src="https://maps.googleapis.com/maps/api/js?key="></script>
<script src="{% static 'back/js/helpers/gmaps.min.js' %}"></script>


{% block footerblock %}
{% endblock %}

</body>
</html>